body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.type {
    width: 70px;
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    line-height: 8px;
    margin: 0;
    vertical-align: middle;
    padding: 7px 0px;
    border-radius: 15px;
}

.normal {
    background-color: #A8A878;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.electric {
    background-color: #F8D030;
}

.grass {
    background-color: #78C850;
}

.ice {
    background-color: #98D8D8;
}

.fighting {
    background-color: #C03028;
}

.poison {
    background-color: #A040A0;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.psychic {
    background-color: #F85888;
}

.bug {
    background-color: #A8B820;
}

.rock {
    background-color: #B8A038;
}

.Spectre {
    background-color: #705898;
}

.dragon {
    background-color: #7038F8;
}

.steel {
    background-color: #B8B8D0;
}

.shadow {
    background-color: #705848;
}

.fairy {
    background-color: #EE99AC;
}
.textMaj {
    text-transform : capitalize;
}

